{
  "presets": [
    ["es2015", { "modules": false }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["module-resolver", {
      "alias": {
        "components": "./src/components",
        "utils": "./src/utils",
        "mui": "@material-ui/core",
        "mui-icons": "@material-ui/icons",
        "docs-data": "./doc-parser/parsed-docs.json"
      }
    }]
  ]
}
